{% extends 'base.html' %} 
{% load mathfilters %}
{% block style %} 
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 30%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
{% endblock %}


{% block body %}
<table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Name Scientific</th>
      <th scope="col">Name Common</th>
      <th scope="col">Price</th>
      <th scope="col">Discount</th>
      <th scope="col">Sales Price</th>
      <th scope="col">Risk</th>
      <th scope="col">Visible</th>
      <th scope="col">Image</th>
      <th scope="col">Update</th>
    </tr>
</thead>
<tbody>
    {% for i,j,k,l,m,n,o in plants %}
    <tr>
        <form action="" method="post">
            {% csrf_token %}
      <th scope="row"><b>{{i}}</b></th>
      <td><input type="text" name="VNameO" id="fname" value="{{j}}"></td>
      <td><input type="text" name="VNameC" id="fname" value="{{k}}"></td>
      <td><input type="number" name="VPrice" id="fname" value="{{l}}"></td>
      <td><input type="number" name="VDiscount" id="fname" value="{{m}}"></td>
      <td><p>{{ l | add:m }}</p></td>
      <td>
        <select name="VRisk" id="risk">
            <option selected>{{n}}</option>
            <option value="Low Risk">Low Risk</option>
            <option value="Medium Risk">Medium Risk</option>
            <option value="High Risk">High Risk</option>
          </select>  
        </td>
      <td>
        <select name="VVisible" id="available">
            <option selected>{{o}}</option>
            <option value="TRUE">TRUE</option>
            <option value="FALSE">FALSE</option>
          </select>   
        </td>
      <td>
        <img
        src="https://raw.githubusercontent.com/sshibinthomass/web-images/main/Plant/50kb/{{i}}.jpeg"
          alt="mypic"
          width="100"
          height="100"
        />
      </td>
    <td><button type="submit" name="btn" value="{{i}}" class="btn btn-outline-success">Update</button></td>
</form>
</tr>

    {% endfor %}
    <tr>
      <form action="" method="post">
          {% csrf_token %}
    <td>        
      <input
      type="number"
      name="ASNO"
      size="2"
      value="1"
      min="1"
      max="999"
    /></td>
    <td><input type="text" name="ANameO" id="fname" value="orginal name"></td>
    <td><input type="text" name="ANameC" id="fname" value="common name"></td>
    <td><input type="number" name="APrice" id="fname" value="0"></td>
    <td><input type="number" name="ADiscount" id="fname" value="0"></td>
    <td><p></p></td>
    <td>
      <select name="ARisk" id="risk">
          <option selected>Low Risk</option>
          <option value="Low Risk">Low Risk</option>
          <option value="Medium Risk">Medium Risk</option>
          <option value="High Risk">High Risk</option>
        </select>  
      </td>
    <td>
      <select name="AVisible" id="available">
          <option selected>TRUE</option>
          <option value="TRUE">TRUE</option>
          <option value="FALSE">FALSE</option>
        </select>   
      </td>
    <td>
      <p>Photo</p>
    </td>
  <td><button type="submit" name="btn1" value="add" class="btn btn-outline-info">Add</button></td>
</form>
</tr>
    <tbody>
  </table>


{% endblock %}