<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plant List</title>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 30%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>S.No</th>
        <th>Plant No</th>
        <th>Plant Name</th>
        <th>Quantity</th>
        <th>Photo</th>
      </tr>

      {% for i,j,k,l in plantID %}
      <tr>
        <td><b>{{i}}</b></td>
        <td>{{j}}</td>
        <td>{{k}}</td>
        <td>{{l}}</td>
        <td>
          <img
            src="https://raw.githubusercontent.com/sshibinthomass/web-images/main/Plant/50kb/{{j}}.jpeg"
            alt="mypic"
            width="256"
            height="256"
          />
        </td>
      </tr>
      {% endfor %}
    </table>
    <label><h3>Total Number of Plants: {{l2}}</h3></label>
  </body>
</html>
